<?xml version="1.0" encoding="UTF-8"?>

<MapSize>2048</MapSize>

<MapRes>0.05</MapRes>

<RaytraceFactor>50.0</RaytraceFactor>

<!-- 0 - Simple, 1 - Bayes, 2 - Kalman, 3 - NDT-OM-->
<OccupancyMethod>3</OccupancyMethod>

<!-- 0 - Mapping, 1 - Read -->
<MapMode>0</MapMode>

<!-- 0 - Octo, 1 - Gauss -->
<MapType>1</MapType>

<ReadMapPath>/media/pgomola/DATA/MAPY/Living_Room_0/Simple/2/map</ReadMapPath>

<!-- 0 - Not saving, 1 - Saving -->
<SaveMap>1</SaveMap>

<CalculateEvery>400</CalculateEvery>

<CalculateUntil>0</CalculateUntil>

<LoadCamera>1</LoadCamera>

<CameraPath>tripodSquareRotVel0p35-2017-09-23-22:31:32</CameraPath>

<!--ICL-NUIM-->
<!--<TransformCameraScale>-1</TransformCameraScale>
<TransformCamera>0</TransformCamera>-->

<!--PP-->
<TransformCameraScale>1</TransformCameraScale>
<TransformCamera>1</TransformCamera>
<TransformCameraMatrix>
    <a00>0.241761029007299</a00>
    <a01>-0.156482265388292</a01>
    <a02>0.957635058606503</a02>
    <a03>0.078542236056188</a03>
    <a10>-0.159587283912986</a10>
    <a11>-0.979884124280077</a11>
    <a12>-0.119829052391907</a12>
    <a13>-0.078052590612562</a13>
    <a20>0.957122512360151</a20>
    <a21>-0.123856382971628</a21>
    <a22>-0.261870373907737</a22>
    <a23>-0.061252007077847</a23>
</TransformCameraMatrix>

<ProbabilityTreshold>10</ProbabilityTreshold>

<PointsTreshold>10</PointsTreshold>
